/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zephyr,display = &oled;(lib_symbols
	(symbol "Diode:1N4148"
		(pin_numbers
			(hide yes)
		)
		(pin_names
			(hide yes)
		)
		(exclude_from_sim no)
		(in_bom yes)
		(on_board yes)
		(property "Reference" "D"
			(at 0 2.54 0)
			(effects
				(font (size 1.27 1.27))
			)
		)
		(property "Value" "1N4148"
			(at 0 -2.54 0)
			(effects
				(font (size 1.27 1.27))
			)
		)
		(property "Footprint" "Diode_THT:D_DO-35_SOD27_P7.62mm_Horizontal"
			(at 0 0 0)
			(effects
				(font (size 1.27 1.27))
				(hide yes)
			)
		)
		(property "Datasheet" "https://assets.nexperia.com/documents/data-sheet/1N4148_1N4448.pdf"
			(at 0 0 0)
			(effects
				(font (size 1.27 1.27))
				(hide yes)
			)
		)
		(property "Description" "100V 0.15A standard switching diode, DO-35"
			(at 0 0 0)
			(effects
				(font (size 1.27 1.27))
				(hide yes)
			)
		)
		(property "Sim.Device" "D"
			(at 0 0 0)
			(effects
				(font (size 1.27 1.27))
				(hide yes)
			)
		)
		(property "Sim.Pins" "1=K 2=A"
			(at 0 0 0)
			(effects
				(font (size 1.27 1.27))
				(hide yes)
			)
		)
		(property "ki_keywords" "diode"
			(at 0 0 0)
			(effects
				(font (size 1.27 1.27))
				(hide yes)
			)
		)
		(property "ki_fp_filters" "D*DO?35*"
			(at 0 0 0)
			(effects
				(font (size 1.27 1.27))
				(hide yes)
			)
		)
		(symbol "1N4148_0_1"
			(polyline
				(pts
					(xy -1.27 1.27) (xy -1.27 -1.27)
				)
				(stroke (width 0.254) (type default))
				(fill (type none))
			)
			(polyline
				(pts
					(xy 1.27 1.27) (xy 1.27 -1.27) (xy -1.27 0) (xy 1.27 1.27)
				)
				(stroke (width 0.254) (type default))
				(fill (type none))
			)
			(polyline
				(pts
					(xy 1.27 0) (xy -1.27 0)
				)
				(stroke (width 0) (type default))
				(fill (type none))
			)
		)
		(symbol "1N4148_1_1"
			(pin passive line
				(at -3.81 0 0)
				(length 2.54)
				(name "K"
					(effects
						(font (size 1.27 1.27))
					)
				)
				(number "1"
					(effects
						(font (size 1.27 1.27))
					)
				)
			)
			(pin passive line
				(at 3.81 0 180)
				(length 2.54)
				(name "A"
					(effects
						(font (size 1.27 1.27))
					)
				)
				(number "2"
					(effects
						(font (size 1.27 1.27))
					)
				)
			)
		)
		(embedded_fonts no)
	)
	(symbol "ScottoKeebs:Placeholder_Keyswitch"
		(pin_numbers
			(hide yes)
		)
		(pin_names
			(offset 1.016)
			(hide yes)
		)
		(exclude_from_sim no)
		(in_bom yes)
		(on_board yes)
		(property "Reference" "S"
			(at 3.048 1.016 0)
			(effects
				(font (size 1.27 1.27))
				(justify left)
			)
		)
		(property "Value" "Keyswitch"
			(at 0 -3.81 0)
			(effects
				(font (size 1.27 1.27))
			)
		)
		(property "Footprint" ""
			(at 0 0 0)
			(effects
				(font (size 1.27 1.27))
				(hide yes)
			)
		)
		(property "Datasheet" "~"
			(at 0 0 0)
			(effects
				(font (size 1.27 1.27))
				(hide yes)
			)
		)
		(property "Description" "Push button switch, normally open, two pins, 45° tilted"
			(at 0 0 0)
			(effects
				(font (size 1.27 1.27))
				(hide yes)
			)
		)
		(property "ki_keywords" "switch normally-open pushbutton push-button"
			(at 0 0 0)
			(effects
				(font (size 1.27 1.27))
				(hide yes)
			)
		)
		(symbol "Placeholder_Keyswitch_0_1"
			(polyline
				(pts
					(xy -2.54 2.54) (xy -1.524 1.524) (xy -1.524 1.524)
				)
				(stroke (width 0) (type default))
				(fill (type none))
			)
			(circle
				(center -1.1684 1.1684)
				(radius 0.508)
				(stroke (width 0) (type default))
				(fill (type none))
			)
			(polyline
				(pts
					(xy -0.508 2.54) (xy 2.54 -0.508)
				)
				(stroke (width 0) (type default))
				(fill (type none))
			)
			(polyline
				(pts
					(xy 1.016 1.016) (xy 2.032 2.032)
				)
				(stroke (width 0) (type default))
				(fill (type none))
			)
			(circle
				(center 1.143 -1.1938)
				(radius 0.508)
				(stroke (width 0) (type default))
				(fill (type none))
			)
			(polyline
				(pts
					(xy 1.524 -1.524) (xy 2.54 -2.54) (xy 2.54 -2.54) (xy 2.54 -2.54)
				)
				(stroke (width 0) (type default))
				(fill (type none))
			)
			(pin passive line
				(at -2.54 2.54 0)
				(length 0)
				(name "1"
					(effects
						(font (size 1.27 1.27))
					)
				)
				(number "1"
					(effects
						(font (size 1.27 1.27))
					)
				)
			)
			(pin passive line
				(at 2.54 -2.54 180)
				(length 0)
				(name "2"
					(effects
						(font (size 1.27 1.27))
					)
				)
				(number "2"
					(effects
						(font (size 1.27 1.27))
					)
				)
			)
		)
		(embedded_fonts no)
	)
)
(symbol
	(lib_id "Diode:1N4148")
	(at 43.18 64.77 0)
	(unit 1)
	(exclude_from_sim no)
	(in_bom yes)
	(on_board yes)
	(dnp no)
	(fields_autoplaced yes)
	(uuid "9d3d396b-22ea-46bd-9231-43f8671496cd")
	(property "Reference" "D0"
		(at 43.18 58.42 0)
		(effects
			(font (size 1.27 1.27))
		)
	)
	(property "Value" "1N4148"
		(at 43.18 60.96 0)
		(effects
			(font (size 1.27 1.27))
		)
	)
	(property "Footprint" "Diode_DO35:Diode_DO-35"
		(at 43.18 64.77 0)
		(effects
			(font (size 1.27 1.27))
			(hide yes)
		)
	)
	(property "Datasheet" "https://assets.nexperia.com/documents/data-sheet/1N4148_1N4448.pdf"
		(at 43.18 64.77 0)
		(effects
			(font (size 1.27 1.27))
			(hide yes)
		)
	)
	(property "Description" "100V 0.15A standard switching diode, DO-35"
		(at 43.18 64.77 0)
		(effects
			(font (size 1.27 1.27))
			(hide yes)
		)
	)
	(property "Sim.Device" "D"
		(at 43.18 64.77 0)
		(effects
			(font (size 1.27 1.27))
			(hide yes)
		)
	)
	(property "Sim.Pins" "1=K 2=A"
		(at 43.18 64.77 0)
		(effects
			(font (size 1.27 1.27))
			(hide yes)
		)
	)
	(pin "1"
		(uuid "cd92921e-217d-402e-b1c9-e03964a61249")
	)
	(pin "2"
		(uuid "dc28273c-3019-421f-bd97-efb920faf411")
	)
	(instances
		(project "mykeyboard"
			(path ""
				(reference "D0")
				(unit 1)
			)
		)
	)
)
(symbol
	(lib_id "ScottoKeebs:Placeholder_Keyswitch")
	(at 41.91 54.61 90)
	(unit 1)
	(exclude_from_sim no)
	(in_bom yes)
	(on_board yes)
	(dnp no)
	(uuid "c1b8b734-3335-4cc5-b20a-bc5facb5a2e3")
	(property "Reference" "S0"
		(at 38.862 46.99 90)
		(effects
			(font (size 1.27 1.27))
			(justify right)
		)
	)
	(property "Value" "Keyswitch"
		(at 38.862 49.53 90)
		(effects
			(font (size 1.27 1.27))
			(justify right)
		)
	)
	(property "Footprint" "ScottoKeebs_Hotswap:Hotswap_MX_Plated_B_1.00u"
		(at 41.91 54.61 0)
		(effects
			(font (size 1.27 1.27))
			(hide yes)
		)
	)
	(property "Datasheet" "~"
		(at 41.91 54.61 0)
		(effects
			(font (size 1.27 1.27))
			(hide yes)
		)
	)
	(property "Description" "Push button switch, normally open, two pins, 45° tilted"
		(at 41.91 54.61 0)
		(effects
			(font (size 1.27 1.27))
			(hide yes)
		)
	)
	(pin "1"
		(uuid "d56d0807-3023-4714-9cfc-c66715152513")
	)
	(pin "2"
		(uuid "efded622-e286-4d75-a210-38fdbbbdd4a1")
	)
	(instances
		(project "mykeyboard"
			(path ""
				(reference "S0")
				(unit 1)
			)
		)
	)
)

        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        left-columns = <9>;
        right-columns = <9>;
        rows = <5>;

        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6) RC(0,7) RC(0,8)    RC(0,9) RC(0,10) RC(0,11) RC(0,12) RC(0,13) RC(0,14) RC(0,15) RC(0,16) RC(0,17)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6) RC(1,7) RC(1,8)    RC(1,9) RC(1,10) RC(1,11) RC(1,12) RC(1,13) RC(1,14) RC(1,15) RC(1,16) RC(1,17)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6) RC(2,7) RC(2,8)    RC(2,9) RC(2,10) RC(2,11) RC(2,12) RC(2,13) RC(2,14) RC(2,15) RC(2,16) RC(2,17)
RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(3,7) RC(3,8)    RC(3,9) RC(3,10) RC(3,11) RC(3,12) RC(3,13) RC(3,14) RC(3,15) RC(3,16) RC(3,17)
RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5) RC(4,6) RC(4,7) RC(4,8)    RC(4,9) RC(4,10) RC(4,11) RC(4,12) RC(4,13) RC(4,14) RC(4,15) RC(4,16) RC(4,17)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;

        diode-direction = "col2row";
        row-gpios
            = <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "disabled";
    };

    right_encoder: encoder_right {
        compatible = "alps,ec11";
        a-gpios = <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "disabled";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <20>;
    };
};

&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        prechargep = <0x22>;
        inversion-on;
    };
};
